<div class="current-sky-container">
                    <div class="map-container">
                        <a href="https://www.cleardarksky.com/c/WnrObAZkey.html">
                            <img src="https://www.cleardarksky.com/c/WnrObAZcsk.gif?c=392419">
                        </a>
                    </div>
                    <div class="explanation-container">

                        <div class="explanation">
                            <img src="cloud-cover.png" alt="Cloud Cover">
                            <div class="explanation-content">
                                <h3>Cloud Cover</h3>
                                <p class="cloud-cover-description">The line, labeled Cloud Cover forecasts total
                                    cloud cover. The colors are picked from what color the sky is likely to be, with
                                    Dark blue being clear. Lighter shades of blue are increasing cloudiness and
                                    white is overcast. This forecast may miss low cloud and afternoon thunderstorms.
                                    When the forecast is clear, the sky may still be hazy, if the transparency
                                    forecast is poor.</p>
                            </div>
                        </div>

                        <div class="explanation">
                            <img src="ecmwf-cloud.png" alt="ECMWF Cloud">
                            <div class="explanation-content">
                                <h3>ECMWF Cloud</h3>
                                <p class="ecmwf-cloud-description">This is not a CMC forecast. It's data form the
                                    "european" forecast model ECMWF. It provides a cloud cover forecast. It's here
                                    for comparison with the CMC cloud cover forecast.New data becomes available
                                    around 14:00 and 02:00 local time. Which is different than when the CMC
                                    forecasts update. This isn't an astronomy-specific forecast. So like many civil
                                    forecasts "clear sky" might still mean "some cirrus".</p>
                            </div>
                        </div>

                        <div class="explanation">
                            <img src="transparency.png" alt="Transparency">
                            <div class="explanation-content">
                                <h3>Transparency</h3>
                                <p class="transparency-description">The line, labeled Transparency, forecasts the
                                    transparency of the air. Here 'transparency' means just what astronomers mean by
                                    the word: the total transparency of the atmosphere from ground to space. It's
                                    calculated from the total amount of water vapor in the air. It is somewhat
                                    independant of the cloud cover forecast in that there can be isolated clouds in
                                    a transparent air mass, and poor transparency can occur when there is very
                                    little cloud.</p>
                            </div>
                        </div>

                        <div class="explanation">
                            <img src="seeing.png" alt="Seeing">
                            <div class="explanation-content">
                                <h3>Seeing</h3>
                                <p class="seeing-description">The line, labeled Seeing, forecasts astronomical
                                    seeing. Excellent seeing means at high magnification you will see fine detail on
                                    planets. In bad seeing, planets might look like they are under a layer of
                                    rippling water and show little detail at any magnification, but the view of
                                    galaxies is probably undiminished. Bad seeing is caused by turbulence combined
                                    with temperature differences in the atmosphere.
                            </div>
                        </div>
                        <div class="explanation">
                            <img src="darkness.png" alt="Darkness">
                            <div class="explanation-content">
                                <h3>Darkness</h3>
                                <p class="darkness-description">The line labeled darkness is not a weather forecast.
                                    It shows when the sky will be dark, assuming no light pollution and a clear sky.
                                </p>
                            </div>
                        </div>

                        <div class="explanation">
                            <img src="cloud-cover.png" alt="Cloud Cover">
                            <div class="explanation-content">
                                <h3>Cloud Cover</h3>
                                <p class="cloud-cover-description">The line, labeled Cloud Cover forecasts total
                                    cloud cover. The colors are picked from what color the sky is likely to be, with
                                    Dark blue being clear. Lighter shades of blue are increasing cloudiness and
                                    white is overcast. This forecast may miss low cloud and afternoon thunderstorms.
                                    When the forecast is clear, the sky may still be hazy, if the transparency
                                    forecast is poor.</p>
                            </div>
                        </div>