<h1 class="title">Dashboard</h1>

  <div class="columns is-multiline">
    {{#each posts}}
      <div class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">{{this.title}}</p>
          </header>
          {{#if this.image}}
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{this.image}}" alt="Post image">
              </figure>
            </div>
          {{/if}}
          <div class="card-content">
            <div class="content">
              {{this.content}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>