<div class="columns is-gapless">
        <aside class="column is-narrow">
            <div class="menu">
                <p class="menu-label">
                    Nomad Nebula
                </p>
                <ul class="menu-list">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/map">Night Sky Map</a></li>
                    <li><a href="/horoscope">Horoscope</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
        </aside>