  <section class="hero is-fullheight has-background-dark">
        <div class="hero-video-container">
            <video class="hero-video" src="/pexels-ingrid-north-4478322-3840x2160-25fps.mp4" autoplay muted loop playsinline></video>
        </div>

{{> navbar}}

div class="hero-body">
            <div class="container has-text-centered">
                <figure class="image is-128x128">
                    <img src="logo.jpg" alt="Logo">
                </figure>
                <div class="buttons is-centered">
                    <a href="/signup" class="button is-primary">Sign Up</a>
                    <a href="/login" class="button is-light">Log In</a>
                </div>
            </div>
        </div>
    </section>
