<!-- Login Modal -->
<div class="modal" id="loginModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="loginModalLabel">Your Session Expired</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body has-text-black">
      <p>We've paused your session due to inactivity. You must log in again.</p>
    </section>
    <footer class="modal-card-foot">
      <a href="/login" class="button is-primary">Login</a>
    </footer>
  </div>
</div>