<div class="navbar-brand">
    <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
    </span>
</div>
<nav id="navbarMenu" class="navbar">
    <figure class="image profile-picture">
        <img src="/img/default.png" alt="Profile picture" class="is-rounded">
    </figure>
    <p class="navbar-item">

        Log in

    </p>

    <a class="navbar-item" href="/login">LOGIN</a>

    </div>
</nav>