<div class="navbar-brand">
  <span class="navbar-burger burger" data-target="navbarMenu">
    <span></span>
    <span></span>
    <span></span>
  </span>
</div>
<nav id="navbarMenu" class="navbar">
  <figure class="image profile-picture">
    <img src="/img/default.png" alt="Profile picture" class="is-rounded">
  </figure>

  <a class="navbar-item" href="/login">LOGIN</a>

  </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  <figure class="image is-96x96 logo">
        <img src="/img/transparentwhite2.png" alt="Logo">
      </figure>
</nav>