<div class="navbar-brand">
    <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
    </span>
</div>
<nav id="navbarMenu" class="navbar">
    <figure class="image profile-picture">
        {{#if profilePicture}}
        <img src="{{profilePicture}}" alt="Profile picture" class="is-rounded">
        {{ else }}
        <img src="/img/default.png" alt="Profile picture" class="is-rounded">
        {{/if}}
    </figure>
    <p class="navbar-item">

        Hi, {{username}}

    </p>

    <a class="navbar-item" href="/profile">PROFILE</a>
    <a class="navbar-item" href="/zodiac">ZODIAC</a>
    <a class="navbar-item" href="/community">COMMUNITY</a>
    <a class="navbar-item" href="/create-post">NEW POST</a>
    <a class="navbar-item" href="/night-sky">NIGHT SKY</a>
    <a class="navbar-item" href="/logout">LOGOUT</a>

    </div>
</nav>