<div class="zodiac-about">
    <h2>ABOUT 🛠</h2>
    <p></p>
    <button class="button is-primary" id="about-reset">Go Back</button>
</div>

<div class="zodiac-career">
    <h2>CAREER 👨‍🎓👩‍🎓</h2>
    <p></p>
    <button class="button is-primary" id="career-reset">Go Back</button>
</div>

<div class="zodiac-strength">
    <h2>STRENGTHS, WEAKNESSES, COMPATIBILITY ❤</h2>
    <p></p>
    <button class="button is-primary" id="strength-reset">Go Back</button>
</div>

<div class="zodiac-health">
    <h2>HEALTH 👨‍⚕️👩‍⚕️</h2>
    <p></p>
    <button class="button is-primary"  id="health-reset">Go Back</button>
</div>

<div class="zodiac-love">
    <h2>LOVE 💕</h2>
    <p></p>
    <button class="button is-primary" id="love-reset">Go Back</button>
</div>

<div class="zodiac-relationships">
    <h2>RELATIONSHIPS 👬</h2>
    <p></p>
    <button class="button is-primary" id="relationships-reset">Go Back</button>
</div>