{{> navLI }}

<div class="current-sky-container">
  <div class="skyChart-container">
    <a href="https://www.cleardarksky.com/c/WnrObAZkey.html">
      <img src="https://www.cleardarksky.com/c/WnrObAZcsk.gif?c=392419">
    </a>
  </div>

  <div class="explanation-container">
    <div class="explanation">
      <img src="/img/current-sky/cloudcover.png" alt="Cloud Cover">
      <div class="explanation-header">
        <h3>Cloud Cover</h3>
        <div class="arrow-icon"></div>
      </div>
      <div class="hidden-content">
        <p class="cloud-cover-description">The line, labeled Cloud Cover forecasts total
          cloud cover. The colors are picked from what color the sky is likely to be, with
          Dark blue being clear. Lighter shades of blue are increasing cloudiness and
          white is overcast. This forecast may miss low cloud and afternoon thunderstorms.
          When the forecast is clear, the sky may still be hazy, if the transparency
          forecast is poor.</p>
      </div>
    </div>
  </div>

  <div class="explanation">
    <img src="/img/current-sky/cloud.png" alt="ECMWF Cloud">
    <div class="explanation-header">
      <h3>ECMF Cloud</h3>
      <div class="arrow-icon"></div>
    </div>
    <div class="hidden-content">
      <p class="ecmwf-cloud-description">This is not a CMC forecast. It's data form the
        "european" forecast model ECMWF. It provides a cloud cover forecast. It's here
        for comparison with the CMC cloud cover forecast.New data becomes available
        around 14:00 and 02:00 local time. Which is different than when the CMC
        forecasts update. This isn't an astronomy-specific forecast. So like many civil
        forecasts "clear sky" might still mean "some cirrus".</p>
    </div>
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/trans.png" alt="Transparency">
  <div class="explanation-header">
    <h3>Transparency</h3>
    <div class="arrow-icon"></div>
  </div>
  <div class="hidden-content">
    <p class="transparency-description">The line, labeled Transparency, forecasts the
      transparency of the air. Here 'transparency' means just what astronomers mean by
      the word: the total transparency of the atmosphere from ground to space. It's
      calculated from the total amount of water vapor in the air. It is somewhat
      independant of the cloud cover forecast in that there can be isolated clouds in
      a transparent air mass, and poor transparency can occur when there is very
      little cloud.</p>
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/seeing.png" alt="Seeing">
  <div class="explanation-header">
    <h3>Seeing</h3>
    <div class="arrow-icon"></div>
  </div>
  <div class="hidden-content">
    <p class="seeing-description">The line, labeled Seeing, forecasts astronomical
      seeing. Excellent seeing means at high magnification you will see fine detail on
      planets. In bad seeing, planets might look like they are under a layer of
      rippling water and show little detail at any magnification, but the view of
      galaxies is probably undiminished. Bad seeing is caused by turbulence combined
      with temperature differences in the atmosphere.
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/darkness.png" alt="Darkness">
  <div class="explanation-header">
    <h3>Darkness</h3>
    <div class="arrow-icon"></div>
  </div>
  <div class="hidden-content">
    <p class="darkness-description">The line labeled darkness is not a weather forecast.
      It shows when the sky will be dark, assuming no light pollution and a clear sky.
    </p>
  </div>
</div>

<div class="explanation-container">
  <div class="explanation">
    <img src="/img/current-sky/smoke.png" alt="Wildfire Smoke">
    <div class="explanation-header">
      <h3>Smoke</h3>
      <div class="arrow-icon"></div>
    </div>
    <div class="hidden-content">
      <p class="smoke-description">This forecast estimates the amount of wildfire
        smoke in
        the area.
        Please note that the transparency may be affected even when the forecast
        reports
        "no smoke".
        Smoke levels greater than "no smoke" indicate enough smoke to affect
        transparency. It is
        recommended to check the near-realtime smoke map produced by NOAA for your
        location.</p>
    </div>
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/wind.png" alt="Wind">
  <div class="explanation-header">
    <h3>Wind</h3>
    <div class="arrow-icon"></div>
  </div>
  <div class="hidden-content">
    <p class="wind-description">This forecast indicates the wind speed at about
      tree-top
      level. The wind
      forecast won't determine whether or not you can observe, but it may affect
      your
      comfort and the
      type of observing you might be limited to. High wind may be particularly
      dangerous for larger
      truss-tube dobsonians which must be disassembled in the vertical position.
    </p>
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/humid.png" alt="Humidity">
  <div class="explanation-header">
    <h3>Humidity</h3>
    <div class="arrow-icon"></div>
  </div>
  <div class="hidden-content">
    <p class="humidity-description">This forecast estimates the ground-level
      relative
      humidity. Humidity
      variations can indicate the likelihood of optics and eyepieces dewing.
      Dewing
      tends to happen
      when the sky is clear, the temperature is dropping, and there isn't much
      wind.
      Since there are
      many different levels in this forecast, with similar looking colors, it's
      best
      to activate the
      "explain colors when you mouse over" to interpret the colors.</p>
  </div>
</div>

<div class="explanation">
  <img src="/img/current-sky/temp.png" alt="Temperature">
  <div class="explanation-header">
    <h3>Temperature</h3>
    <div class="arrow-icon "></div>
  </div>
  <div class="hidden-content">
    <p class="temperature-description">This forecast estimates the temperatures near
      the
      ground. While
      temperature variations won't determine if you can observe, the forecast can
      be
      handy choosing
      clothing for cold observing conditions. In general, dress as if it were 20
      degrees F or 10
      degrees C colder than the forecast. Observers with thick primary mirrors
      should
      take note of
      falling temperature conditions because their mirrors may require additional
      cooling to reach
      equilibrium and prevent tube currents. Cold temperatures also mean reduced
      battery capacity,
      stiffer lubricants, stiffer electrical cables, and slower LCD displays.
      Electronics have a
      lowest temperature at which they will work.</p>
  </div>
</div>