{{> navLI }}

<main class="column">
  <video class="background-video" src="./img/background/background.mp4" autoplay muted loop playsinline></video>
  <section class="section">
    <div class="container edit-profile-container">
      <section class="hero is-dark">
        <section class="edit-profile-video-container">
          <video class="edit-profile-video" src="./img/headers/EDIT-PROFILE.mp4" autoplay muted loop
            playsinline></video>
        </section>
      </section>
      <section class="section">
        <div class="container edit-profile-form">
          <form action="/api/users/edit-profile" method="POST" enctype="multipart/form-data">
            <div class="field">
              <label class="label">USERNAME</label>
              <div class="control">
                <input class="input" type="text" name="username" value="{{username}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">LOCATION</label>
              <div class="control">
                <input class="input" type="text" name="location" value="{{location}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">BIRTHDAY</label>
              <div class="control">
                <input class="input" type="date" name="birthday" value="{{birthday}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">PROFILE PICTURE</label>
              <div class="file is-primary">
                <label class="file-label">
                  <input class="file-input" type="file" name="profilePicture">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
                <span class="file-upload-label">No image selected</span>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button id="editProfileBtn" type="submit" class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-save"></i>
                  </span>
                  <span>SAVE CHANGES</span>
                </button>
              </div>
              <div class="control">
                <a href="/profile" class="button is-light">
                  <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                  <span>BACK TO PROFILE</span>
                </a>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="hidden" id="user_id" value="{{user_id}}" />
                <button id="deleteProfileBtn" type="submit" class="button is-danger">
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span>DELETE PROFILE</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/editProfile.js"></script>
<script src="/js/deleteProfile.js"></script>