{{> navLI }}

<main class="column">
  <div class="zodiac-content-wrapper">
    <video class="background-video" src="./img/background/background.mp4" autoplay muted loop playsinline></video>
    <div>
      <div class="container register-container">
        <section class="hero is-dark">

          <section class="register-video-container">
            <video class="register-video" src="./img/headers/zodiac.mp4" autoplay muted loop playsinline></video>
          </section>
      </div>
    </div>
    <div class="zodiac-section">
      <div class="horoscope-header">
        <div class="zodName">
          <div class="zodiac-sign-image"></div>
          <div class="horoscope-left">
            <p id="zodiac-title-name"></p>
          </div>
        </div>
        <img src="" id="zodiac-star-picture">
      </div>
      <div class="horoscope-section zodiac-section">

        <div class="front-card">
          <button class="about-button zodiac-button button is-primary">ABOUT</button>
          <button class="career-button zodiac-button button is-primary">CAREER</button>
          <button class="strength-button zodiac-button button is-primary">PERSONALITY</button>
          <button class="health-button zodiac-button button is-primary">HEALTH</button>
          <button class="love-button zodiac-button button is-primary">LOVE</button>
          <button class="relationships-button zodiac-button button is-primary">RELATIONSHIPS</button>
        </div>

        <div class="back-card">
          {{> zodiac-info}}
        </div>
      </div>
    </div>
  </div>

</main>

<script src="./js/zodiac.js"></script>