<section class="hero is-fullheight has-background-dark">
  <div class="hero-video-container">
    <video class="hero-video" src="/img/background/planet-19119.mp4" autoplay muted loop playsinline></video>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-128x128 logo">
        <img src="/img/transparentwhite.png" alt="Logo">
      </figure>
      <div class="buttons is-centered buttons-wrapper">
        <a href="/signup" class="button is-primary">Sign Up</a>
        <a href="/login" class="button is-light">Log In</a>
      </div>
    </div>
  </div>
</section>