{{> navLI }}

<main class="column">
  <video class="background-video" src="./img/background/background.mp4" autoplay muted loop playsinline></video>
  <section class="section">
    <div class="container current-container">
      <section class="current-video-container">

        <section class="is-flex justify-content-center align-items-center">
          <video class="current-video" src="./img/headers/REGISTER.mp4" autoplay muted
            loopplaysinline></video>
        </section>

      </section>

      <section class="section">
        <div class="container">
          <div class="buttons has-addons is-centered">
            <button class="button is-dark" onclick="location.href='/night-sky/map-sky'">View Map</button>
            <button class="button is-dark" onclick="location.href='/night-sky/current-sky'">View Details</button>
          </div>
        </div>
      </section>
  </section>
</main>