  <main class="column">
        <video class="background-video" src="background.mp4" autoplay muted loop playsinline></video>
        <section class="section">
            <div class="container current-container">
                <section class="current-video-container">

                    <section>
                        <video class="current-video" src="REGISTER.mp4" autoplay muted loop playsinline></video>
                    </section>

                </section>

        <section class="section">
            <div class="container">
                <div class="buttons has-addons is-centered">
                    <button class="button is-dark" onclick="location.href='/map-sky'">View Map</button>
                    <button class="button is-dark" onclick="location.href='/current-sky'">View Details</button>
                </div>
            </div>
        </section>
    </section>
</main>