<section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Your Night Sky</h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="buttons has-addons is-centered">
                <button class="button is-dark" onclick="location.href='/map-sky'">View Map</button>
                <button class="button is-dark" onclick="location.href='/current-sky'">View Details</button>
            </div>
        </div>
    </section>