{{> navLI }}

<main class="column">
  <video class="background-video" src="./img/background/background.mp4" autoplay muted loop playsinline></video>
  <section class="section">
    <div class="container current-container">
      <div>
        <div class="container register-container">
          <section class="hero is-dark">


            <section class="register-video-container">
              <video class="register-video" src="./img/headers/community.mp4" autoplay muted loop playsinline></video>
            </section>
        </div>
      </div>

      <section class="section">
        <div class="container">
          <div class="buttons has-addons is-centered">
            <button class="button is-light" onclick="location.href='/night-sky/map-sky'">View Map</button>
            <button class="button is-primary" onclick="location.href='/night-sky/current-sky'">Current Sky
              Conditions</button>
          </div>
        </div>
      </section>
  </section>
</main>