{{> navLO }}
<main class="column">
    <video class="background-video" src="./img/background/background.mp4" autoplay muted loop playsinline></video>
    <section class="section">
        <div class="container register-container">
            <section class="hero is-dark">

                <section class="register-video-container">
                    <video class="register-video" src="/img/headers/REGISTER.mp4" autoplay muted loop
                        playsinline></video>
                </section>

            </section>
            <section class="section">
                <div class="container register-form">
                    <form action="/login" method="post" class="signup-form">
                        <div class="field">
                            <label class="label">USERNAME</label>
                            <div class="control">
                                <input class="input" type="text" name="username" id="username-signup" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">PASSWORD</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="password-signup" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">LOCATION</label>
                            <div class="control">
                                <input class="input" type="text" name="location" id="location-signup" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">BIRTHDAY</label>
                            <div class="control">
                                <input class="input" type="date" name="birthday" id="birthday-signup" required>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button id="registerBtn" type="submit" class="button is-primary">REGISTER</button>
                            </div>
                            <div class="control">
                                <a href="/login" class="button is-light">LOGIN</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
</main>

<script src="/js/signUp.js"></script>