body {

  color: #ffffff;
}

.button.is-primary {
background-color: #536996;
color: #0a0f20;
font-family: 'Orbitron', sans-serif;
}
.button.is-primary:hover {
color: #ffffff;
background-color: rgba(255, 255, 255, 0.2);
transition: ease-in-out 0.3s;
box-shadow: 0 4px 30px #1cc2de;
}

.background-video {
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
object-fit: cover;
}

/* header */
.hero.has-background-dark {
  background-color: #0a0f20;
}

.hero-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-body .button.is-light {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

.hero-body .button.is-light:hover {
background-color: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px #1cc2de;
transition: ease-in-out 0.3s;
}

.hero-body .button:not(:last-child) {
  margin-right: 1rem;
}

.hero-body .logo {
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  top: -10%;
  width: 150px;
  height: 150px;
}

.buttons-wrapper {
  position: relative;
  bottom: -10%;
}
/* navbar */
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #172341d7;
  z-index: 1000;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 4px 20px #1cc2de;
}

.navbar-brand {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172341;
  cursor: pointer;
  z-index: 1001;
  border-radius: 50%;
}

.navbar-brand:hover {
box-shadow: 0 4px 30px #1cc2de;
transition: ease-in-out 0.3s;
}


.navbar-burger {
  color: #ffffff;
  display: flex !important;
}

.profile-picture {
margin-top: 30%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.profile-picture:hover {
box-shadow: 0 4px 20px #1cc2de;
cursor: pointer;
}
.navbar-item {
  margin-bottom: 1rem;
  color: #ffffff;
  transition: color 0.6s;
}

.navbar-item:hover {
color: #fcfcfc;
background-color: transparent !important;; 
text-shadow: 0 0 5px #1cc2de, 0 0 10px #1cc2de, 0 0 20px #1cc2de, 0 0 40px #1cc2de;

}

.is-hidden {
  transform: translateX(-100%);
}
/* post */

.post-box {
  background-color: #172341;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.post-box a {
  color: #a2c1ff;
  transition: color 0.3s;
}

.post-box a:hover {
  color: #ffffff;
}

.post-box .icon {
  color: #a2c1ff;
}

.post-box .icon:hover {
  color: #ffffff;
}

/* registration */

.register-container {
  max-width: 700px !important;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
}

.register-video-container {
  position: relative;
  top: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: auto;
  border-radius: 6px;
  min-width: 200px;
  background-color: rgba(23, 35, 65, 0);
}

.register-video {
  position: relative;
  max-width: 100%;
  padding: auto;
  border-radius: 6px;
  padding-top: 1rem;
  justify-content: center;
  border-radius: 6px;
  
}
.register-container .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.register-form {
  margin-top: 9.5rem;
  padding-top: 20px;
}
.register-container .label {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.register-container .input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
}

.register-container .input:focus {
  border-color: #1cc2de;
  box-shadow: 0 4px 20px #1cc1de8e;
}

.register-container .button.is-primary {
  background-color: #a2c1ff;
  color: #0a0f20;
  font-family: 'Orbitron', sans-serif;
}

.register-container .button.is-light {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

.register-container .button.is-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
}

.register-container .button.is-primary:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: ease-in-out 0.3s;
  box-shadow: 0 4px 30px #1cc2de;
}
.register-container .button:not(:last-child) {
  margin-right: 1rem;
}

/* login */
.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 5px;
padding-top: 10rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 10rem;
}
.login-form {

  padding-top: 20px;
}
.login-container .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.login-container p {
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

/* profile */
.bio-container {
  position: relative;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 35, 65, 0.9);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  height: 200px;
  margin-top: 10rem;
  margin: 0 auto;
  box-shadow: 0 4px 20px #1cc2de;
}

.bio-container .profile-picture {
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  min-height: 150px;
  margin-top: 10rem;
}

.bio-container .bio-left,
.bio-container .bio-right {
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 1rem;
  
}
.bio-container .bio-left {
  text-align: left;
  padding-right: 2rem;
}

.bio-container .bio-right {
  text-align: right;
  position: absolute;
}

.profile-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.profile-buttons .button {
  margin: 0 0.5rem;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  background-color: rgba(23, 35, 65, 0.9);
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
}

.posts-container .post {
  background-color: rgba(77, 98, 151, 0.9);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

/* Horoscope page */

.horoscope-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 35, 65, 0.9);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.horoscope-header .zodiac-sign-image {
  width: 64px;
  height: 64px;
}

.horoscope-header .horoscope-left,
.horoscope-header .horoscope-right {
  color: #ffffff;
}

.horoscope-section {
  background-color: rgba(23, 35, 65, 0.9);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.horoscope-section .title {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.horoscope-section p {
  color: #ffffff;
}

/* map */
.hero.is-dark {
  background-color: #172341;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#mapContainer {
  max-width: 960px;
}

.mapTitle {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.iframe-container {
  width: 100%;
  height: calc(100vh - 128px); /* Adjust height according to your needs */
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 /* footer */
.footer {
  background-color: #172341;
  padding: 1rem 0;
  background-color: rgba(23, 35, 65, 0.397);
}

.footer p {
  color: #ffffff86;
  font-family: 'Rajdhani', sans-serif;
}


@media screen and (max-width: 1024px) {
.register-form {
    margin-top: 1rem;
}
}

@media screen and (min-width: 1024px) {
.register-form {
    margin-top: 2rem;
}
}

/* For small screens */
@media screen and (max-width: 768px) {
.register-form {
    margin-top: 1rem;
}
.bio-container .bio-left {
  display: none;
  text-align: center !important;
  padding: 1rem;
  margin: 0 auto;
  
}
}

/* For extra-small screens */
@media screen and (max-width: 480px) {
.register-form {
    margin-top: 3rem;
}
}

