body {
  color: #ffffff;
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.p {
  word-wrap: break-word !important;
}

.button.is-primary {
  background-color: #536996;
  color: #0a0f20;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(0, 0, 0, 0.5);
  text-transform: capitalize !important;
}

.button.is-primary:hover {
  color: #fffffffd;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.5), 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

/* landing page */

.hero.has-background-dark {
  background-color: #0a0f20;
}

.hero-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.hero-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.button.is-light {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(0, 0, 0, 0.5);
  text-transform: capitalize !important;
}

.button.is-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.5), 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
}

.hero-body .button:not(:last-child) {
  margin-right: 1rem;
}

.buttons-wrapper {
  position: relative;
  margin-top: 15rem;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color:#172341d7;
  background: linear-gradient(to right, #2c4174d7 0%, #0a0f20 100%);
  z-index: 1000;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 4px 20px #1cc2de;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.3), 0 4px 20px #1cc2de;
}

.navbar-brand {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172341;
  cursor: pointer;
  z-index: 1001;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-brand:hover {
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.5), 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
}

.navbar-burger {
  color: #ffffff;
  display: flex !important;
}

.profile-picture {
  margin-top: 30%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.profile-picture:hover {
  box-shadow: 0 4px 20px #1cc2de;
  cursor: pointer;
}

.user-uploaded-image {

  max-height: 150px;

}

.navbar-item {
  margin-bottom: 1rem;
  color: #ffffff;
  transition: color 0.6s;
}

.navbar-item:hover {
  color: #fcfcfc;
  background-color: transparent !important;
  text-shadow: 0 0 5px #1cc2de, 0 0 10px #1cc2de, 0 0 20px #1cc2de, 0 0 40px #1cc2de;
}

.navbar.is-hidden {
  transform: translateX(-100%);
}

/* post */
.post-box {
  background-color: #172341;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.post-box a {
  color: #a2c1ff;
  transition: color 0.3s;
}

.post-box a:hover {
  color: #ffffff;
}

.post-box .icon {
  color: #a2c1ff;
}

.post-box .icon:hover {
  color: #ffffff;
}

/* registration */

.register-container {
  max-width: 700px !important;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
}

.register-video-container {
  position: relative;
  top: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: auto;
  border-radius: 6px;
  min-width: 200px;
  background-color: rgba(23, 35, 65, 0);
}

.register-video {
  position: relative;
  max-width: 100%;
  padding: auto;
  border-radius: 6px;
  padding-top: 1rem;
  justify-content: center;
  border-radius: 6px;
}

.register-container .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.register-form {
  margin-top: 9.5rem;
  padding-top: 20px;
}

.register-container .label {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.register-container .input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
}

.register-container .input:focus {
  border-color: #1cc2de;
  box-shadow: 0 4px 20px #1cc1de8e;
}

.register-container .button:not(:last-child) {
  margin-right: 1rem;
}

/* login */

.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 5px;
  padding-top: 10rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 10rem;
}

.login-form {
  padding-top: 20px;
}

.login-container .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.login-container p {
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

/* profile */
.is-hidden {
  display: none;
}

.bio-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 35, 65, 0.9);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin: 0 auto;
  box-shadow: 0 4px 20px #1cc2de;
  margin-top: 7rem !important;
}

.bio-container::after {
  content: "";
  display: table;
  clear: both;
}

.bio-container .profile-picture {
  margin-bottom: 2rem;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 150px !important;
  height: 150px;
  margin-top: -5rem;
}

.bio-container .profile-picture:hover {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid rgba(23, 35, 65, 0.9);
  ;
}

.bio-container .bio-left,
.bio-container .bio-right,
.bio-container .username {
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  flex-basis: 33.3333%;
  text-align: center;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.bio-container h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4vw;
  text-shadow: 0 4px 20px #1cc2de;
}

.bio-container .bio-left {
  text-align: left;
}

.bio-container .bio-right {
  text-align: right;
}

.prof-bio .title {
  text-align: center;
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 20px;
  color: white;
  text-shadow: 0 4px 20px #1cc2de;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(140, 161, 216);
  font-size: 2em;
  /* Adjust the font size for the edit icon */
}

.edit-icon:hover {
  background-color: #1cc2de;
  cursor: pointer;
  box-shadow: 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
}

.iconContainer {
  position: relative;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-spacing: 25px !important;
  background-color: rgba(23, 35, 65, 0.9);
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
  margin-left: auto;
  margin-right: auto;
}

.icons-container .icon-link {
  padding: 0.5rem !important;
  margin: 0 0.5rem !important;
  border-radius: 50% !important;
}

.icons-container .fas:hover {
  box-shadow: 0 4px 30px #1cc2de !important;
  transition: ease-in-out 0.3s !important;
  cursor: pointer;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  background-color: #172341c4;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
}

.posts-container .post {
  background-color: rgba(77, 98, 151, 0.9);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  word-spacing: 25px !important;
  font-size: 40px;
  border-radius: 15px;

}

/* edit profile page */

.edit-profile-container {
  max-width: 700px !important;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
}

.edit-profile-form {
  margin-top: 2rem;
  padding-top: 20px;
}

.edit-profile-container .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.edit-profile-container .label {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.edit-profile-container .input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
}

.edit-profile-container .input:focus {
  border-color: #1cc2de;
  box-shadow: 0 4px 20px #1cc1de8e;
}

.edit-profile-container .file-input {
  display: none;
}

.edit-profile-container .file-cta {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
  padding: 0.625rem 1rem;
}

.edit-profile-container .file:hover .file-cta {
  border-color: #1cc2de;
  box-shadow: 0 4px 20px #1cc1de8e;
}

.edit-profile-container .button:not(:last-child) {
  margin-right: 1rem;
}

/* file upload list from create-post */
.file-upload-label {
  max-width: 250px;
  font-size: 0.9em;
  margin-top: 10px;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* map */

.map-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: .5rem;
  border-radius: 15px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;

}

.mapSection {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 90%;

}

.mapSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}
.mapSection input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
  border-radius: 5px;
  padding: 0.4rem;
  margin-bottom: .4rem;
  margin-right: .6rem;

}

.mapSection input:focus {
  outline: none;
  border: 1px solid #1cc2de;
  box-shadow: 0 4px 6px #1cc2de;

}

.mapSection h1 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-family: 'Orbitron', sans-serif;
}

.hero.is-dark {
  background-color: #172341;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#mapContainer {
  max-width: 960px;
}

.iframe-container {
  flex-basis: 100%;
  max-width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  background-color: #172341;
  padding: 1rem 0;
  background-color: rgba(23, 35, 65, 0.397);
  bottom: 0;
  width: 100%;
  position: relative;
  margin-top: 2rem !important;
}


.footer figure {
  align-items: center;
  margin: auto;
}
.bio-container {
  flex-direction: column;
}

.bio-container .profile-picture {
  top: -20%;
  width: 100px;
  height: 100px;
}

.bio-container .bio-left,
.bio-container .bio-right {
  text-align: center;
}

.bio-container .bio-left {
  order: 1;
}

.bio-container .username {
  order: 0;
}

.bio-container .bio-right {
  order: 2;
}

/* ZODIAC STUFF */

.horoscope-header {
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 35, 65, 0.884);
  padding: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Orbitron', sans-serif;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
  width: 100%;
  font-size: 20px;
  text-transform: capitalize; 
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.zodName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.horoscope-header .zodiac-sign-image {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.horoscope-header .horoscope-left,
.horoscope-header .horoscope-right {
  color: #ffffff;
  flex: 1;
  padding: 0.5rem;
}

.horoscope-section {

  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
/* Zodiac info sections */
.zodiac-about,
.zodiac-career,
.zodiac-strength,
.zodiac-health,
.zodiac-love,
.zodiac-relationships {
  display: none;
}
.horoscope-section .title {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-family: 'Obitron', sans-serif;
}

.horoscope-section p {
  color: #ffffff;
  font-family: 'rajdhani', sans-serif;
}

.zodiac-sign-image {
  font-size: 3rem;
}

#zodiac-star-picture {
  display: block;
  margin: auto;
  max-width: 15vw;
  min-width: 300px;
  transition: transform 0.5s;
  border-radius: 10%;
}

#zodiac-star-picture:hover {
  transform: scale(1.05);
}

#zodiac-sign-blurb {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 3rem;
}

.zodiac-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  perspective: 1000px;
}


.front-card, .back-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;

}

.front-card {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  color: #fff;
  transform: rotateY(0deg);
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
  padding: 1rem;
  background-color: #172341c5;
  max-width: 1000px;
}
.zodiac-button {
  background-color:#172341 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.651) !important;
  font-family: 'Orbitron', sans-serif;
  padding: 0.5rem 1rem;
  text-transform: capitalize !important;
}

.zodiac-button:hover {
  color: #fcfcfc;
  background-color: transparent !important;
  text-shadow: 0 0 5px #1cc2de, 0 0 10px #1cc2de, 0 0 20px #1cc2de, 0 0 40px #1cc2de;
}

.back-card {
  color: #ffffff;
  transform: rotateY(-180deg);
  padding: 1rem;
  background-color: #172341c5;
  border-radius: 15px;
  box-shadow: 0 4px 20px #1cc2de;
  margin:auto;
  max-width: 1000px;
}

.back-card p, .back-card h2, .back-card button {
  margin: 1.5rem;
}

.back-card h2 {
  font-weight: bolder;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}


.zodiac-section.flip .front-card {
  transform: rotateY(180deg);
}

.zodiac-section.flip .back-card {
  transform: rotateY(0deg);
}


/* current sky */

.explanation-container {
  display: flex;
  flex-wrap: wrap;
}

.explanation {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-basis: 100%;
  max-width: 900px !important;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
}

.current-video {
  max-width: 90%;
  max-height: 250px;
  padding: auto;
  border-radius: 6px;
  padding-top: 1rem;
  margin: auto;
}

.current-video-container {
  position: relative;
  top: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: auto;
  max-height: 300px;
  border-radius: 6px;
  min-width: 200px;
  background-color: rgb(23, 35, 65);
  border-radius: 6px;
  box-shadow: 0 4px 6px #1cc2de;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.explanation img {
  width: 33%;
}

.explanation-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.explanation h3 {
  margin-top: 0;
  font-size: 3vw;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 10px;
}

.explanation p {
  margin-top: 0;
  font-size: 2vw;
  font-family: 'Rajdhani', sans-serif;
}

.explanation-header {
  display: flex;

  justify-content: space-between;
  cursor: pointer;
}

.arrow-icon {
  padding: 1rem;
  font-size: 1.5vw;
}

.skyChart-container {
  display: flex;
  flex-wrap: row wrap;
  padding: 2.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  box-shadow: 0 4px 6px #1cc2de;
  margin-top: 2rem;
}

.arrow-icon:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: transform 0.3s;
}

.arrow-icon.open:before {
  transform: rotate(180deg);
}

/* Hidden content styles */

.explanation .hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* Show content when arrow icon is clicked */

.explanation.expanded .hidden-content {
  max-height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.explanation.expanded .arrow-icon:before {
  transform: translateY(-50%) rotate(180deg);
}

.post-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.post-action-item {
  display: inline-block;
  margin-right: 10px;
}

/* community */
.subtitle {
  font-size: 1.5rem;
  color: #ffffff !important;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #ffffff;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 20px;
}

/* .community-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: rgba(23, 35, 65, 0.753);
  max-width: 80%;
  box-shadow: 2px 2px 2px #1cc2de;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 7px;
  border-style: inset;
  border-right: none;
  border-bottom: none;
  border-color: #fcfcfc3b;
} */

.profilePic {
  border-radius: 50%
}

.profP {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
}

.post-head {
  border-color: #fcfcfc3b;
  border-style: inset;
  border-right: none;
  border-left: none;
  border-top: none;
  padding-bottom: 8px;

}

.upim {
  border-radius: 6px;
  box-shadow: 0 4px 20px #1cc2de;
  display: flex;
  left: 10%;
  right: 10%;
  margin: auto;
}

figure {
  display: flex;
  justify-content: center;
  align-item: center;
}

.user-uploaded-picture {
  border-radius: 6px;
  box-shadow: 0 4px 20px #1cc2de;
}

.user-uploaded-picture:hover {
  cursor: pointer;
}

.profile-picture:hover {
  box-shadow: 0 4px 20px #1cc2de;
  cursor: pointer;
}

.post-content {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(91, 100, 129, 0.3);
  font-family: 'Rajdhani', sans-serif;
  border-radius: 10px;
  padding: 10px;
  background-color: #172341c4;
 
}

.community-posts h3 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding-top: 15px
}

.community-posts strong {
  color: #1cc2de;
  font-weight: 900;
  font-size: 17px;
}

.post-action-item, .dropdown-trigger {
  color: #1cc2de;
  font-weight: 900;
  padding-right: 8px;
  padding-bottom: 8px;
}

.post-action-item:hover {
  text-shadow: 0 0 5px #1cc2de, 0 0 10px #1cc2de, 0 0 20px #1cc2de, 0 0 40px #1cc2de;
  color: white;
}

.comment-form {
  border-color: #fcfcfc3b;
  border-style: inset;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding-bottom: 8px;
  padding-top: 10px;

}

.comment-textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Rajdhani', sans-serif;
  border-radius: 8px;
  width: 80%;
  padding: 6px;

}

.comment-textarea:focus {
  border-color: #1cc2de;
  box-shadow: 0 4px 20px #1cc1de8e;

}

.submit-comment {
  background-color: #a2c1ff;
  color: #0a0f20;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
  border: none;
  width: 20%;
  min-width: 60px;
}

.submit-comment:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px #1cc2de;
  transition: ease-in-out 0.3s;
  color: #ffffff;
}

.comment-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 9px;
}

.comlabel {
  font-weight: 900;
}

.comment-meta {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.649);
}

.comuser {
  font-weight: 900;
  color: #1cc2de;
  font-size: 16px !important;
}

.com {
  font-weight: 800;
  border-style: inset;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 8px;
}

.delete-comment,
.hide-comment {
  font-weight: 900;
  color: rgb(222, 39, 39);

}

@media screen and (max-width: 1024px) {
  .register-form {
    margin-top: 1rem;
  }
  .hero-video {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .register-form {
    margin-top: 2rem;
  }

  .bio-container h2 {
    font-size: 3rem;
  }

  .posts-container {
    max-width: 1250px;
  }

  .explanation h3 {

    font-size: 21px;

  }

  .explanation p {
    font-size: 17px;
  }

}

/* For small screens */
@media screen and (max-width: 768px) {
  .register-form {
    margin-top: 1rem;
  }
  .back-card {
    margin-top: -10rem !important;
  }
  .hero-video {
    display: block;
  }
}

/* For extra-small screens */
@media screen and (max-width: 480px) {
  .register-form {
    margin-top: 3rem;
  }
  .column.is-one-third {

  min-width: 90%  !important;
  }
 
  .posts-container {
    min-width: 263px !important;
  }
  .horoscope-header {
    font-size: 40px;
  }
  .back-card {
    margin-top: -20rem !important;
  }
  .post-container {
    width: 250px;
  }
}

