.footer {
    background-color: #172341;
    padding: 1rem 0;
    background-color: rgba(23, 35, 65, 0.397);
  
    p {
      color: rgba(255, 255, 255, 0.527);
      font-family: 'Rajdhani', sans-serif;
    }
  }