.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #172341d7;
    z-index: 1000;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    font-family: $primary-font;
    box-shadow: 0 4px 20px $highlight-color;
  
    &.is-hidden {
      transform: translateX(-100%);
    }
  
    .navbar-brand {
      position: fixed;
      top: 1rem;
      left: 1rem;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #172341;
      cursor: pointer;
      z-index: 1001;
      border-radius: 50%;
  
      &:hover {
        box-shadow: 0 4px 30px $highlight-color;
        transition: ease-in-out 0.3s;
      }
    }
  
    .navbar-burger {
      color: $text-color;
      display: flex !important;
    }
  
    .profile-picture {
      margin-top: 30%;
      margin-bottom: 1rem;
      width: 150px;
      height: 150px;
      border: 3px solid rgba(255, 255, 255, 0.1);
      border-radius: 50%;
  
      &:hover {
        box-shadow: 0 4px 20px $highlight-color;
        cursor: pointer;
      }
    }
  
    .navbar-item {
      margin-bottom: 1rem;
      color: $text-color;
      transition: color 0.6s;
  
      &:hover {
        color: #fcfcfc;
        background-color: transparent !important;
        text-shadow: 0 0 5px $highlight-color, 0 0 10px $highlight-color, 0 0 20px $highlight-color, 0 0 40px $highlight-color;
      }
    }
  }