.post-box {
    background-color: #172341;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: $text-color;
  
    a {
      color: #a2c1ff;
      transition: color 0.3s;
  
      &:hover {
        color: $text-color;
      }
    }
  
    .icon {
      color: #a2c1ff;
  
      &:hover {
        color: $text-color;
      }
    }
  }