$background-color: #0a0f20;
$text-color: #ffffff;
$highlight-color: #1cc2de;
$primary-font: 'Orbitron', sans-serif;
$accent-color: #536996;
$secondary-font: 'Rajdhani', sans-serif;

body {
    color: $text-color;
  }
  