@media screen and (max-width: 1024px) {
    .register-form {
      margin-top: 1rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .register-form {
      margin-top: 2rem;
    }
  
    .bio-container {
      h2 {
        font-size: 3rem;
      }
    }
  
    .posts-container {
      max-width: 2000px;
    }
  }
  