@media screen and (max-width: 768px) {
    .register-form {
      margin-top: 1rem;
    }
  
    .bio-container {
      flex-direction: column;
  
      .profile-picture {
        top: -20%;
        width: 100px;
        height: 100px;
      }
  
      .bio-left,
      .bio-right {
        text-align: center;
      }
  
      .bio-left {
        order: 1;
      }
  
      .username {
        order: 0;
      }
  
      .bio-right {
        order: 2;
      }
    }
  }
  
  /* For extra-small screens */
  @media screen and (max-width: 480px) {
    .register-form {
      margin-top: 3rem;
    }
  }