.button {
    &.is-primary {
      background-color: $accent-color;
      color: $background-color;
      font-family: $primary-font;
  
      &:hover {
        color: $text-color;
        background-color: rgba(255, 255, 255, 0.2);
        transition: ease-in-out 0.3s;
        box-shadow: 0 4px 30px $highlight-color;
      }
    }
  }
  
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
  }
  
  .hero {
    &.has-background-dark {
      background-color: $background-color;
    }
  
    .hero-video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  
    .hero-video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  
    .hero-body {
      .button {
        &.is-light {
          background-color: rgba(255, 255, 255, 0.1);
          color: $text-color;
          font-family: $primary-font;
  
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px $highlight-color;
            transition: ease-in-out 0.3s;
          }
        }
  
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
  
      .logo {
        margin: 0 auto;
        margin-bottom: 1rem;
        position: relative;
        top: -10%;
        width: 150px;
        height: 150px;
      }
  
      .buttons-wrapper {
        position: relative;
        bottom: -10%;
      }
    }
  }